@model Bordspelhub.Models.Evenement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Evenement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvenementNaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvenementNaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locatie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locatie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvenementDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvenementDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beschrijving)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EvenementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
