@model Bordspelhub.Models.Evenement

@{
    ViewData["Title"] = "Details";
}



<div>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image:'@Html.DisplayNameFor(model => model.URL)'">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">@Html.DisplayFor(model => model.EvenementNaam)</h1>
            <p class="lead fw-normal">datum: @Html.DisplayFor(model => model.EvenementDatum)</p>
            <p class="lead fw-normal">@Html.DisplayFor(model => model.Beschrijving)</p>
            <p class="lead fw-normal">@Html.DisplayFor(model => model.Locatie)</p>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <p class="lead fw-normal">@Html.DisplayFor(model => model.Creator)</p>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EvenementId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
