@model IEnumerable<Bordspelhub.Models.Evenement>

@{
    ViewData["Title"] = "Index";
}


<main>


    @if (Model.Count() != 0)
    {
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 fw-normal">@Model.FirstOrDefault().EvenementNaam</h1>
                <p class="lead fw-normal">datum: @Model.FirstOrDefault().EvenementDatum</p>
                <p class="lead fw-normal">@Model.FirstOrDefault().Beschrijving</p>
                <a class="btn btn-outline-secondary" href="#">Meer informatie</a>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
    }
    
    

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var obj in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" scr="@obj.URL" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Evenement 2</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        <div class="card-body">
                            <p class="card-text">datum: @obj.EvenementDatum</p>
                            <p class="card-text">@obj.Beschrijving</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a asp-action ="Details" asp-route-id="@obj.EvenementId" class="btn btn-sm btn-outline-secondary">View</a>
                                    <a asp-action="Edit" asp-route-id="@obj?.EvenementId" class="btn btn-sm btn-outline-secondary" >Edit</a>
                                </div>
                                <small class="text-muted">@obj.Locatie</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>

    

</main>
